* {
    margin: 0;
    padding: 0;
}

.profile-img {
    position: absolute;
    margin: 10px;
    padding: 0;
    height: 10vw;
}


.container {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0 ,0 , .6)),to(rgba(0, 0, 0, .8))), url(images/bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0 ,0 , .6),rgba(0, 0, 0, .8)), url(images/bg.jpg) no-repeat;
    background-size: cover;
}

.viewport {
    width: 42vw;
    height: 21vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-perspective: 1300px;
            perspective: 1300px;
}

.viewport::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 20%;
    background-color: #000;
    z-index: -1;
    top: 140%;
    left: -10%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
}

.cube {
    width: 100%;
    height: 33.3333333%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.cube-1 {
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.cube-2 {
    z-index: 10;
    transition: transform .4s ;
    -webkit-transition: transform .4s ;
    -moz-transition: transform .4s ;
    -ms-transition: transform .4s ;
    -o-transition: transform .4s ;
}

.cube-3 {
    transition: transform .4s ;
    -webkit-transition: transform .4s ;
    -moz-transition: transform .4s ;
    -ms-transition: transform .4s ;
    -o-transition: transform .4s ;
}

.face {
    width: 100%;
    height: 100%;
    /* background-color: palevioletred; */
    position: absolute;

}

.front {
    transform: translateZ(21vw);
    -webkit-transform: translateZ(21vw);
    -moz-transform: translateZ(21vw);
    -ms-transform: translateZ(21vw);
    -o-transform: translateZ(21vw);
}

.cube-1 .front {
    background: url(images/slide-img-1.jpg) no-repeat 50% 0;
    background-size: cover; 
}
.cube-2 .front {
    background: url(images/slide-img-1.jpg) no-repeat 50% -7vw;
    background-size: cover; 
}
.cube-3 .front {
    background: url(images/slide-img-1.jpg) no-repeat 50% -14vw;
    background-size: cover; 
}

.back {
    transform: translateZ(-21vw) rotateY(180deg);
    -webkit-transform: translateZ(-21vw) rotateY(180deg);
    -moz-transform: translateZ(-21vw) rotateY(180deg);
    -ms-transform: translateZ(-21vw) rotateY(180deg);
    -o-transform: translateZ(-21vw) rotateY(180deg);
}


.cube-1 .back {
    background: url(images/slide-img-2.png) no-repeat 50% 0;
    background-size: cover; 
}
.cube-2 .back {
    background: url(images/slide-img-2.png) no-repeat 50% -7vw;
    background-size: cover; 
}
.cube-3 .back {
    background: url(images/slide-img-2.png) no-repeat 50% -14vw;
    background-size: cover; 
}


.left {
    transform: translateX(-21vw) rotateY(-90deg);
    -webkit-transform: translateX(-21vw) rotateY(-90deg);
    -moz-transform: translateX(-21vw) rotateY(-90deg);
    -ms-transform: translateX(-21vw) rotateY(-90deg);
    -o-transform: translateX(-21vw) rotateY(-90deg);
}

.cube-1 .left {
    background: url(images/slide-img-3.jpg) no-repeat 50% 0;
    background-size: cover; 
}
.cube-2 .left {
    background: url(images/slide-img-3.jpg) no-repeat 50% -7vw;
    background-size: cover; 
}
.cube-3 .left {
    background: url(images/slide-img-3.jpg) no-repeat 50% -14vw;
    background-size: cover; 
}


.right {
    transform: translateX(21vw) rotateY(90deg);
    -webkit-transform: translateX(21vw) rotateY(90deg);
    -moz-transform: translateX(21vw) rotateY(90deg);
    -ms-transform: translateX(21vw) rotateY(90deg);
    -o-transform: translateX(21vw) rotateY(90deg);
}

.cube-1 .right {
    background: url(images/slide-img-4.jpg) no-repeat 50% 0;
    background-size: cover; 
}
.cube-2 .right {
    background: url(images/slide-img-4.jpg) no-repeat 50% -7vw;
    background-size: cover; 
}
.cube-3 .right {
    background: url(images/slide-img-4.jpg) no-repeat 50% -14vw;
    background-size: cover; 
}


.top {
    height: 42vw;
    /* background-color:peru; */
    transform: translateY(-21vw) rotateX(90deg);
    -webkit-transform: translateY(-21vw) rotateX(90deg);
    -moz-transform: translateY(-21vw) rotateX(90deg);
    -ms-transform: translateY(-21vw) rotateX(90deg);
    -o-transform: translateY(-21vw) rotateX(90deg);
}

.bottom {
    height: 42vw;
    /* background-color:peru; */
    transform: translateY(-14vw) rotateX(-90deg);
    -webkit-transform: translateY(-14vw) rotateX(-90deg);
    -moz-transform: translateY(-14vw) rotateX(-90deg);
    -ms-transform: translateY(-14vw) rotateX(-90deg);
    -o-transform: translateY(-14vw) rotateX(-90deg);
}


.control {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: rgba(59, 52, 50, .7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.control:hover {
    background-color: rgba(42, 38, 36, .8);
}

.control i {
    pointer-events: none;
}

.left-arrow {
    top: 50%;
    left: -35%;
}

.right-arrow {
    top: 50%;
    left: 135%;
}

.play-pause {
    top: 140%;
    left: 120%;
}





/* ########################## Login/singUp/Shipping/Profile/Search/Contact ############################## */

.card-wrapper {
    height: 600px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(images/girl.jpg) no-repeat center;
    background: url(images/girl.jpg) no-repeat center;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.card-wrapper:hover {
    -webkit-box-shadow: 0 0 30px #fff;
            box-shadow: 0 0 30px #fff;
}

.card {
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(380deg, rgb(233, 149, 24) 0%, rgb(228, 127, 161) 100%);
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: top .3s 1.5s;
    transition: top .3s 1.5s;
}

.card-wrapper:hover .card {
    top: 0;
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 15px;
    border: 2px solid #fff;
    padding: 10px;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .5);
            box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.card-heading {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    background: linear-gradient(-89deg, rgb(233, 149, 24) 0%, rgb(228, 127, 161) 100%);
    width: 70%;
    text-align: center;
    padding: 5px 0;
    -webkit-transform: perspective(1000px) skewX(-20deg) rotateY(40deg);
            transform: perspective(1000px) skewX(-20deg) rotateY(40deg);
            -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.card-paragraph {
    font-size: 18px;
    color: #fff;
    width: 85%;
    text-align: justify;
    position: relative;
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    
}

.card-paragraph::first-letter {
    margin-left: 40px;
}

.card-paragraph i {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    
}

.card-paragraph i:first-child {
    top: -10%;
}

.card-paragraph i:last-child {
    bottom: -10%;
    margin-left: 10px;
}

.card-icons {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.card-icon-link {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    -webkit-transition: border .3s;
    transition: border .3s;
}

.card-icon-link:hover {
    border: 1px solid blueviolet;
}

.card-icon {
    font-size: 20px;
    color: #fff;
    -webkit-transition: color .3s;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    transition: color .3s;
}

.card-icon-link:hover .card-icon {
    color: blueviolet;
}

.card-btn {
    border: none;
    outline: none;
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: linear-gradient(190deg, rgb(226, 24, 233) 0%, rgb(227, 119, 224, .5) 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
}

a:hover, a:active , a:link{
    color: #fff;
    text-decoration: none;
}